*.pyc
.DS_Store
twistd.pid
twistd.log
twistd.log.*
django/bin/
django/include/
django/lib/
django/local/
django/smsbot/smsbot/localsettings.py
twisted/bin/
twisted/include/
twisted/lib/
twisted/local/
