<div id="scheduler">
	<div id="function-name">Event Log</div>
	<div id="function-body">
		<div>
			<table>
				<tr><td class="label">Case Number:</td><td><input type="text" id="case-number" /></td></tr>
				<tr><td class="label">Date Range:</td><td><input type="text" id="event-start" placeholder="Start" /> to <input type="text" id="event-end" placeholder="End" /></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td class="label">Event Type:</td>
					<td>
						<input type="checkbox" name="send" /> Sent Messages<br />
						<input type="checkbox" name="receive" /> Received Messages<br />
						<input type="checkbox" name="variable" /> Variables Set<br />
						<input type="checkbox" name="dialog" /> Dialogs Scheduled<br />
						<input type="checkbox" name="info" /> 411 Messages<br />
						<input type="checkbox" name="all" /> All Events<br />
					</td>
					</tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td></td><td><a href="#" id="search-events">Search</a></td></tr>
				<tr><td>&nbsp;</td></tr>
			</table>
		</div>
		<div id="event-results">

		</div>
	</div>
</div>