body
{
	background-color: #000;
	padding: 0;
	margin: 20;
	font: 10pt "Lucida Grande", Lucida, Verdana, sans-serif;
}

div#console-frame
{
	background-color: #c0c0c0;
	padding:  5px;
	margin: 0 auto;
	width: 800px;
}

a.footer
{
	color: #0e9291;
	text-decoration: none;
}
div#console-footer
{
	background-color: #424242;
	padding:  5px;
	text-align: center;
	color: #eaeaea;
	font-size: x-small;
	margin-top: 0px;
}

div#console-title
{
	background-color: #424242;
	padding:  10px;
	margin-bottom: 5px;
	color: #eaeaea;
	text-align: right;
	text-transform: capitalize;
	font: bold 18pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

div#console-sidebar
{
	padding:  0;
	display: inline-block;
	width: 150px;
	margin-right: 5px;
	vertical-align: top;
}

div#console
{
	padding:  0;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

.status-okay
{
	background-color: #00930f;
	color: #eaeaea;
	text-align: center;
}

.status-warning
{
	background-color: #910008;
	color: #eaeaea;
	text-align: center;
}

.device-unknown
{
	color: #c0c0c0;
}

a.sidebar-link
{
	display: block;
	text-decoration: none;
	margin: 0;
	padding: 5px;
}

a.sidebar-link:hover
{
	color: #fd0217;
}

div#overview-message-graph
{
	background-color: #212121;
	margin: 10px;
	padding: 20px;
	color: #eaeaea;
	text-align: center;
	vertical-align: middle;
}

div.sidebar-header
{
	background-color: #910008;
	text-transform: uppercase;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 5px;
	color: #c0c0c0;
	text-align: right;
}

div.sidebar-section
{
	margin-bottom: 5px;
	background-color: #424242;
	font: small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 5px;
	color: #212121;
	text-align: right;
}

div.edit-item
{
	margin: 0 0 0 10px;
	padding: 0;
}

span#device-status
{
	font-weight: bold;
}

div#console-status
{
	font: small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 0;
}

button
{
	font-size: smaller;
}

td.label
{
	font-size: small;
	text-align: right;
}

.tip
{
	font-size: smaller;
}

div#send-message
{
	padding:  10px;
}

div.function
{
	font-size: small;
	margin-bottom: 5em;
}

span.field-name
{
	font-style: italic;
}

p.fields
{
	font-weight: bold;
}

p.field
{
	margin-left: 2em;
}

div#function-name
{
	border: 1px solid #212121;
	background-color: #212121;
	color: #c0c0c0;
	padding: 10px;
	text-align: left;
	font-weight: bold;
	margin: 0;
}

div#function-body
{
	border: 1px solid #212121;
	margin: 0 0 5px;
	padding: 5px;
	background-color: #fff;
	vertical-align: top;
}

div#send-message
{
	margin: 0;
	padding: 0;
}

div#tips
{
	margin: 0;
	padding: 0;
}

button.remove-selected
{
	margin: 10px 5px;
}

button.add-new
{
	margin: 10px 5px 10px 0;
}

button.save
{
	float: right;
	margin: 10px 5px 10px 0;
}

div.left
{
	display: inline-block;
}

div.right
{
	border:  thin solid blue;
	display: inline-block;
	top: 0;
	position: relative;
}

table
{
	margin: 0;
	padding: 0;
}

td
{
	vertical-align: top;
	margin: 0;
	padding: 0;
}

tr
{
	vertical-align: top;
	margin: 0;
	padding: 0;
}

div.field-label
{
	font-weight: bold;
}

div.field-value
{
	margin-bottom: 20px;
}

a.sidebar-selected
{
	background-color: #c0c0c0;
	color: #212121;
}

a.sidebar-selected:visited
{
	background-color: #c0c0c0;
	color: #212121;
}

a.sidebar-unselected:visited
{
	color: #d5d5d5;
}

a.sidebar-unselected
{
	color: #d5d5d5;
}

a:visited
{
	color: #d5d5d5;
}

td.list
{
	width: 150px;
	margin: 0;
	padding: 0;
}

div.select-item
{
	text-align: center;
	font-weight: bold;
	font-size: xx-large;
	vertical-align: middle;
	color: #929292;
	padding-top: 1em;
}

td.schedule-date
{
	font-weight: bold;
	width: 200px;
}

td.schedule-dest
{
	font-weight: bold;
	width: 200px;
}

td.schedule-message
{
	font-weight: bold;
	width: 300px;
}

td.schedule-cell
{
	vertical-align: middle;
	height: 1.5em;
}

a.remove-message
{
	font-weight: bold;
	
	background-color: #910008;
	text-transform: uppercase;
	font: bold small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 5px;
	margin-bottom: 3px;
	color: #eaeaea;
	text-decoration: none;
	display: block;
}

td.label
{
	vertical-align: middle;
}

a#search-events
{
	background-color: #008f2a;
	color: #fffeff;
	padding: 5px;
	text-decoration: none;
}

div#event-results
{

}
